h1{
	text-align: center;
}

#Main{
	text-align: center;
}

button:hover {
	background-color: gray;
	border-radius: 6px;
	color: white;
}

body{
	background-image: url("../images/background.jpg");

}

#clown{
	border-radius: 4px;
}

#home{
	height: 30px;
	display: inline-block;
}