h1{
	text-align: center;
}

#Main{
	text-align: center;
}

button:hover {
	background-color: gray;
	border-radius: 6px;
	color: white;
	width: 30%;
}

body{
	background-image: url("../images/background.jpg");
	background-size: full;
	background-repeat: none;

}

#clown{
	border-radius: 4px;
}

#home{
	display: inline-block;
	width: 3%;
}

button{
	width:30%;
}

#home:hover{
	box-shadow: 2px 2px 2px #888888;
}