html{
	background-image: url("../images/background.jpg");
	background-size: full;

}

p{
	text-align: center;
	margin: 0px;
	font-weight: bold;
}

h1{
	text-align: center;
}

button:hover{
	background-color: gray;
	border-radius: 6px;
	color: white;
	font-size: 110%;
}

#home{
	height: 30px;
	display: inline-block;
}

button{
	font-size: 105%;
}