html{
	background-image: url("../images/background.jpg");
	background-size: full;
	background-repeat: none;

}

p{
	text-align: center;
	margin: 0px;
	font-weight: bold;
}

h1{
	text-align: center;
}

button:hover{
	background-color: gray;
	border-radius: 6px;
	color: white;
	font-size: 110%;
	width: 75%;
}

#home{
	width: 8%;
	display: inline-block;
	position: absolute;
}

button{
	font-size: 105%;
	width: 75%;
	padding: 2px;
}